<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="w-100 mt-auto">
  <!-- Footer -->
  <footer class="text-center text-black bg-body-tertiary">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-2">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/pages/aboutus" class="text-black">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/pages/privacy" class="text-black">Privacy</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/pages/terms" class="text-black">Terms</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/pages/help" class="text-black">Help</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/pages/contact" class="text-black">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              we believe in providing a seamless and unforgettable booking
              experience. Whether you're planning a relaxing getaway, a business
              trip, or a special occasion, our curated selection of
              accommodations ensures that you'll find the perfect stay. Explore
              our range of services, exclusive offers, and exceptional customer
              support – all designed to make your stay with us as comfortable
              and enjoyable as possible.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
