<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="w-100">
    <!-- Footer -->
    <footer class="text-center text-black bg-body-tertiary">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-2">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-black">About us</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-black">Privacy</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-black">Terms</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-black">Help</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-black">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section>
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                distinctio earum repellat quaerat voluptatibus placeat nam,
                commodi optio pariatur est quia magnam eum harum corrupti
                dicta, aliquam sequi voluptate quas.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
       
      </div>
      <!-- Grid container -->
  
    
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->