<div class=" bg-body-tertiary">
<nav class="navbar sticky-top navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
        <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707z"/>
        <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018"/>
      </svg></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active px-4" aria-current="page" href="/">Home</a>
          <a class="nav-link px-4" href="/listings">All Listings</a>
          <a class="nav-link px-4" href="/listings/new">Add Listings</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser) {%>
          <a class="nav-link px-4" href="/signup">Sign Up</a>
          <a class="nav-link px-4" href="/login">Login</a>
          <% }%> <% if(currentUser){%>
            <a class="nav-link px-4" href="/bookings/<%= currentUser._id %>/bookings">Your Booking</a>
            <a class="nav-link px-4" href="/listings/<%= currentUser._id %>/listings">Your Listings</a>
            <a class="nav-link px-4" href="/bookings/<%= currentUser._id %>/Booked">Book Listings</a>
            <a class="nav-link px-4" href="/logout">Logout</a>
            <% }%> </div>
      </div>
    </div>
  </nav>
</div> 