<div class="w-100 bottom-0 position-fixed" style="z-index: 10;">
  <a href="https://github.com/prashant1177/hotelbooking/blob/main/README.md" class="text-info" target="_blank">
    <div class="w-100 bg-dark text-center p-2">
      <p class="m-0 text-white">Here are the project details - Click here</p>
    </div></a
  >
</div>
