<% layout("./layouts/boilerplate") %>
<body>
    <h1>Listings</h1>
    <% for(let listings of allListings) { %>
    <li><a href="/listings/<%= listings._id %>"><%= listings.title %></a></li>
    <% } %>

    <!-- <form method="GET" action="/listings/new">
        <button>Add Listings</button>
    </form> -->
</body>
