<% layout("./layouts/boilerplate") %>
<body>
    <form method="POST" action="/listings">
        <input name="listing[title]" placeholder="Enter Title" type="text"/>
        <br>
        <textarea name="listing[description]" placeholder="Enter description"></textarea>
        <br>
        <input name="listing[image]" placeholder="Enter image URL"  type="text"/>
        <br>
        <input name="listing[price]" placeholder="Enter price"  type="number"/>
        <br>
        <input name="listing[location]" placeholder="Enter location"  type="text"/>
        <br>
        <input name="listing[capacity]" placeholder="Maximum capacity"  type="number"/>
        <br>
        <button>Submit</button>
    </form>
</body>
