
.link-style{
    text-decoration: none;
}

.home-cards{
    height: 17rem;
    object-fit: cover;
}
.showContainer1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.showOuterContainer{
    padding: 5px;
}
.show-img{
    height: 20rem;
    object-fit: cover;
}
.card{
        padding: 0;
        margin-inline: 5px;
    }
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home-cards{
    width: 100%;
}
.navbar{
    height: 5rem;
    font-size: large;
}
.navbar-con{
    width: 100%;
    display: flex;
    justify-content: center;
}
.fa-solid{
    color: red;
    font-size: xx-large;
}


@media (min-width: 992px) {
    .card{
        padding: 0;
        margin-inline: 5px;
        width: 30%;
    } }

