body{
    background-color: aliceblue;
}
.link-style{
    text-decoration: none;
}

.card-img-top{
    height: 17rem;
    object-fit: cover;
}
.card{
        padding: 0;
        margin-inline: 5px;
    }
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-img-top{
    width: 100%;
}
.navbar{
    height: 5rem;
    font-size: large;
}

.fa-solid{
    color: red;
    font-size: larger;
}


@media (min-width: 992px) {
    .card{
        padding: 0;
        margin-inline: 5px;
        width: 30%;
    } }

