<% layout("./layouts/boilerplate") %>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="my-4">Terms and Conditions</h1>
                <div class="accordion" id="termsAccordion">
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingGeneral">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral">
                                General
                            </button>
                        </h2>
                        <div id="collapseGeneral" class="accordion-collapse collapse show" aria-labelledby="headingGeneral" data-bs-parent="#termsAccordion">
                            <div class="accordion-body">
                                <p>Please read these Terms carefully before using this Website. By accessing, browsing, or using this Website, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTrademarks">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTrademarks" aria-expanded="false" aria-controls="collapseTrademarks">
                                Trademarks
                            </button>
                        </h2>
                        <div id="collapseTrademarks" class="accordion-collapse collapse" aria-labelledby="headingTrademarks" data-bs-parent="#termsAccordion">
                            <div class="accordion-body">
                                <p>The trademarks, logos, and service marks displayed on this Website are the property of the author or other third parties. You are not permitted to use these without prior written consent.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCopyrights">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCopyrights" aria-expanded="false" aria-controls="collapseCopyrights">
                                Copyrights
                            </button>
                        </h2>
                        <div id="collapseCopyrights" class="accordion-collapse collapse" aria-labelledby="headingCopyrights" data-bs-parent="#termsAccordion">
                            <div class="accordion-body">
                                <p>The information on this Website is protected by copyright. No content may be copied, reproduced, republished, or distributed without prior written consent.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingDisclaimer">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDisclaimer" aria-expanded="false" aria-controls="collapseDisclaimer">
                                Disclaimer
                            </button>
                        </h2>
                        <div id="collapseDisclaimer" class="accordion-collapse collapse" aria-labelledby="headingDisclaimer" data-bs-parent="#termsAccordion">
                            <div class="accordion-body">
                                <p>Information on this Website is not promised or guaranteed to be correct, current, or complete, and this site may contain errors. The author assumes no responsibility for accuracy.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingJurisdiction">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJurisdiction" aria-expanded="false" aria-controls="collapseJurisdiction">
                                Jurisdiction
                            </button>
                        </h2>
                        <div id="collapseJurisdiction" class="accordion-collapse collapse" aria-labelledby="headingJurisdiction" data-bs-parent="#termsAccordion">
                            <div class="accordion-body">
                                <p>This agreement is governed by the laws of [Your Country] without regard to choice of law provisions.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
</body>