<% layout("/layouts/boilerplate") %>

<div class="d-flex justify-content-center mt-3 my-4">
    <div class=" p-4 border  border-1 rounded-3 w-50">
        <h2 class="my-4 text-center">LOGIN</h2>
        <form action="/login" method="POST" class="needs-validation" novalidate >
          <div class="mb-3"><label for="username" class="form-label">Username</label>
            <input required name="username" id="username" type="text" class="form-control" placeholder="admin"/>
        </div>  
        <div class="mb-3"><label for="password" class="form-label">Password</label>
            <input required name="password" id="password" type="password" class="form-control" placeholder="admin"/>
        </div> 
        <button class="btn btn-dark px-4 py-2 my-4">Login</button> 
        </form>
        <p class="my-4 bg-light p-2">Note: You can use username and password as <strong>admin/admin</strong> to login or join as a <a href="/signup">new user</a></p>
    </div>
</div>