<% layout("/layouts/boilerplate") %>

<div class="d-flex justify-content-center  mt-3 my-4">
  <div class="w-50 p-4 border  border-1 rounded-3">
    <h2 class="my-4 text-center">REGISTER</h2>
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3 mt-4">
        <label for="username" class="form-label">Username</label>
        <input
          required
          name="username"
          id="username"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="fullname" class="form-label">Full Name</label>
        <input
          required
          name="fullname"
          id="fullname"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          required
          name="email"
          id="email"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input
          required
          name="phone"
          id="phone"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          required
          name="password"
          id="password"
          type="password"
          class="form-control"
        />
      </div>
      <button class="btn btn-dark px-4 py-2 my-4">Register</button>
    </form>
  </div>
</div>
